---
layout: page
# The Home page layout
---

{% include lang.html %}

<div class="author">
  <img class="author-avatar" src="{{ site.avatar }}" alt="avatar" />
  <h2 class="author-name">{{ site.social.name }}</h2>
  <p class="author-bio">{{ site.social.bio }}</p>
  <div class="links mt-2 d-flex flex-wrap justify-content-center align-items-center">

    {% unless site.theme_mode %}
    {% endunless %}

    {% for entry in site.data.contact %}
    {% capture url %}
    {%- if entry.type == 'github' -%}
    https://github.com/{{ site.github.username }}
    {%- elsif entry.type == 'twitter' -%}
    https://twitter.com/{{ site.twitter.username }}
    {%- elsif entry.type == 'email' -%}
    {% assign email = site.social.email | split: '@' %}
    javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
    {%- elsif entry.type == 'rss' -%}
    {{ "/feed.xml" | relative_url }}
    {%- else -%}
    {{ entry.url }}
    {%- endif -%}
    {% endcapture %}

    {% if url %}
    {%- if entry.type == 'github' -%}
    <a href="{{ url }}" aria-label="{{ entry.type }}" {% unless entry.noblank %}target="_blank" rel="noopener" {%
      endunless %} data-toggle="tooltip" data-placement="bottom" title="{{ site.github.username }}">
      <i class="{{ entry.icon }}"></i>
    </a>
    {%- elsif entry.type == 'email' -%}
    <a href="{{ url }}" aria-label="{{ entry.type }}" {% unless entry.noblank %}target="_blank" rel="noopener" {%
      endunless %} data-toggle="tooltip" data-placement="bottom" title="{{ site.social.email }}">
      <i class="{{ entry.icon }}"></i>
    </a>
    {%- endif -%}

    {% endif %}

    {% endfor %}

  </div>
</div>

<h3 class="pt-4" aria-label="Recent Posts">Recent Posts</h3>
<div id="recent-post-list" class="recent">
  {%- for post in site.posts limit: 5 -%}
  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>
    <div class="post-meta text-muted d-flex">
      <div class="mr-auto">

        <!-- posted date -->
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=post.date %}

        <!-- categories -->
        {% if post.categories.size > 0 %}
        <i class="far fa-folder-open fa-fw"></i>
        <span>
          {% for category in post.categories %}
          {{ category | url_decode }}
          {%- unless forloop.last -%}＞{%- endunless -%}
          {% endfor %}
        </span>
        {% endif %}

      </div>
    </div>
  </div>
  {%- endfor -%}
</div>