---
layout: default
---

{% include lang.html %}

{% include assets-origin.html %}

{%if page.layout == 'home'%}

<!-- core -->
<div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4 pb-5" style="margin: 0 auto; min-height:913px;">
  <div class="post pl-1 pr-1 pl-md-2 pr-md-2">

    {% capture _content %}
    {% if layout.refactor or page.layout == 'page' %}
    {% include refactor-content.html content=content %}
    {% else %}
    {{ content }}
    {% endif %}
    {% endcapture %}

    {% if page.layout == 'page' or page.collection == 'tabs'%}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="post-content">
      {{ _content }}
    </div>
    {% else %}
    {{ _content }}
    {% endif %}

  </div>
</div> <!-- #core-wrapper -->

<!-- tail -->
{% if layout.tail_includes %}
<div class="row">
  <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 pl-3 pr-3 pr-xl-4">
    {% for _include in layout.tail_includes %}
    {% assign _include_path = _include | append: '.html' %}
    {% include {{ _include_path }} %}
    {% endfor %}
  </div>
</div>
{% endif %}
{%else%}
<div class="row">

  <!-- core -->
  <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pr-xl-4 pb-5">
    <div class="post pl-1 pr-1 pl-md-2 pr-md-2">

      {% capture _content %}
      {% if layout.refactor or page.layout == 'page' %}
      {% include refactor-content.html content=content %}
      {% else %}
      {{ content }}
      {% endif %}
      {% endcapture %}

      {% if page.layout == 'page' or page.collection == 'tabs'%}
      {% assign tab_key = page.title | downcase %}
      {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
      <h1 class="dynamic-title">
        {{ title }} {%if tab_key == 'posts'%}📖{%elsif tab_key == 'categories' %}📁{%elsif tab_key == 'tags'
        %}🏷️{%elsif
        tab_key == 'archives' %}💾{%elsif
        tab_key == 'miscellaneous' %}📓{%endif%}
      </h1>
      <div class="post-content">
        {% if page.url == "/miscellaneous/" %}
        <div class="table-wrapper" id="miscellaneous-table-div">
          <table id="miscellaneousTable">
            <thead>
              <tr>
                <th onclick='document.getElementById("miscellaneous-table-div").classList.toggle("on");'>바로가기🚀</th>
              </tr>
            </thead>
            <tbody id="miscellaneousLink">
              <tr>
                <td><a href="#react">React</a></td>
              </tr>
              <tr>
                <td><a href="#github">Github</a></td>
              </tr>
              <tr>
                <td><a href="#design">Design</a></td>
              </tr>
              <tr>
                <td><a href="#idea">Idea</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        {%endif%}
        {{ _content }}
      </div>
      {% else %}
      {{ _content }}
      {% endif %}

    </div>
  </div> <!-- #core-wrapper -->

  <!-- pannel -->
  <div id="panel-wrapper" class="col-xl-3 pl-2 text-muted">

    <div class="access">
      {% if page.layout != 'post' %}
      <!-- {% include update-list.html %} -->
      {% include trending-tags.html %}
      {% endif %}
    </div>

    {% for _include in layout.pannel_includes %}
    {% assign _include_path = _include | append: '.html' %}
    {% include {{ _include_path }} %}
    {% endfor %}
  </div>

</div>

<!-- tail -->
{% if layout.tail_includes %}
<div class="row">
  <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 pl-3 pr-3 pr-xl-4">
    {% for _include in layout.tail_includes %}
    {% assign _include_path = _include | append: '.html' %}
    {% include {{ _include_path }} %}
    {% endfor %}
  </div>
</div>
{% endif %}
{%endif%}