/*
  Style for Homepage
*/

.author {
  margin-top: 6.3rem;
  margin-bottom: 5.2rem;
  text-align: center;

  .author-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    user-select: none;
    border: 2px solid rgba(222,222,222,0.7);
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-animation: 0.5s ease-in forwards fadein;
    animation: 0.5s ease-in forwards fadein;
    opacity: 1;
  }

  .author-name {
    font-size: 1.7em;
    margin-bottom: 2px;
    font-weight: 700;
  }

  .author-bio {
    margin: 0 auto;
    opacity: 0.9;
    max-width: 393px;
    line-height: 1.688;
  }

  .links{
    
    margin-bottom: 2.1rem;

    @include ml-mr(auto);
    @include pl-pr(1rem);

    %icon {
      width: 2.4rem;
      text-align: center;
    }

    a {
      @extend %icon;
      @extend %clickable-transition;
      @extend %sidebar-links;

      &:hover {
        @include no-text-decoration;
  
        color: var(--sidebar-active-color) !important;
      }
    }

    i {
      background-color: var(--links-btn-bg);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
      font-size: 1.2rem;
      line-height: 1.75rem;
    }
    i::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}

#recent-post-list {
  .post-preview {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--hr-color);

    a:hover {
      @extend %link-hover;
    }

    h1 {
      font-size: 1.2rem;
      margin: 0;
    }

    .post-meta {
      i {
        font-size: 0.73rem;

        &:not(:first-child) {
          margin-left: 1.2rem;
        }
      }

      em {
        @extend %normal-font-style;
      }
    }
  }
}



